node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.opencode
build-android.sh
push-and-deploy.sh
nospeak-key.jks
static/user_media
 
 # OS

.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
nospeak-release.jks
nospeak-release.jks.base64
